<div class="flex h-screen flex-col justify-between border-e border-gray-100 bg-white">
  <div class="px-4 py-6">
    <ul class="mt-6 space-y-1">
      <li>
        <details class="group [&amp;_summary::-webkit-details-marker]:hidden" data-controller="channels" open>
          <summary class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700">
            <span class="text-sm font-medium"> Channels </span>
            <span class="shrink-0 transition duration-300 group-open:-rotate-180">
              <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </span>
          </summary>
          <ul class="mt-2 space-y-1 px-4">
            <% @channels.each do |channel| %>
              <li>
                <div class="flex justify-between items-center mb-4">
                  <%= link_to (channel.public ?  "# " : "🔒 ") + channel.name, messages_channel_path(channel),
                    data: { 
                      turbo_frame: "messages_frame",
                      action: "click->channels#subscribe",
                      channels_target: "link", room: "#{channel.name}_#{channel.id}"
                       },
                      class: "channel-link block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"%>
                  <% if current_user.admin?(channel)%>
                    <%= button_to channel_path(channel),
                    method: :delete,
                    form: { data: { turbo_confirm: "Are you sure you want to delete #{channel.name} channel?" } },
                    class: "text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="2">
                        <rect x="5" y="6" width="10" height="10" rx="1" ry="1" stroke-linecap="round" stroke-linejoin="round"/>
                        <line x1="4" y1="6" x2="16" y2="6" stroke-linecap="round" stroke-linejoin="round"/>
                        <line x1="8" y1="3" x2="12" y2="3" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    <% end %>
                  <% end %>
                </div>
              </li>
            <%end%>
            <li>
              <div class="flex" data-controller="modal" data-modal-target="frame">
                <%= link_to new_channel_path, data: { action: "click->modal#open" }, class: "rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700 flex items-center gap-2" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="2">
                    <rect x="2" y="2" width="16" height="16" rx="2" ry="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <line x1="10" y1="5" x2="10" y2="15" stroke-linecap="round" stroke-linejoin="round"/>
                    <line x1="5" y1="10" x2="15" y2="10" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  Add channel
                <% end %>
              </div>
            </li>
          </details>
        </li>
      </ul>
    </div>
    <div class="sticky inset-x-0 bottom-0 border-t border-gray-100">
      <% if user_signed_in? %>
        <%= button_to destroy_user_session_path,
      method: :delete,
      class: "group relative flex w-full justify-center rounded-lg px-2 py-1.5 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700",
      form: { data: { turbo_confirm: "Are you sure you want to logout?" } } do %>
          <%# if current_user.profile_image%>
          <%# <img alt="" src="<%= current_user.profile_image " class="size-10 rounded-full object-cover"> %>
          <%#else%>
          <div class="h-8 w-8 rounded-full bg-gray-300 flex items-center justify-center text-sm font-medium">
            <%= current_user.email.first.upcase %>
          </div>
          <%#end%>
          <div class="flex flex-col text-sm leading-tight text-left pl-2">
            <span class="font-medium text-gray-800"><%= current_user.email.split("@").first %></span>
            <span class="text-gray-500 text-xs"><%= current_user.email %></span>
          </div>
          <span class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded-sm bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible">
            Logout
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
  <main class="flex-1 flex flex-col">
    <%= turbo_frame_tag :flash do %>
      <div id="flash"></div>
    <% end %>
    <turbo-frame id="messages_frame"> </turbo_frame>
  </main>
  <div id="modal_frame">
  </div>
